body {
    
    background-color: #27f5e0;
	margin: 20px 100px 50px 100px
}
img {
    padding: 20px;
    width: 400px;
    border-radius: 20%;
    background: linear-gradient(0deg, #c56df7 15%, #ffffff 91%);
}
table{
    width: 100%
    border-collapse: collapse;
    margin-top: 20px;
}
th ,td {
    border:1px solid #ddd;
    padding:10px;
    text-align: left;
}
th {
    background-color:#80e891;
    color:white;
    text-align:center;

}
tr:nth-child(even){
    background-color:#51a7f3 ;

}
tr:nth-child(odd){
    background-color:#f7f36f;

}
tr:hover {
    background-color:#f3a551;
}
